.logo-container img {
    width: 300px;
}
  
nav {
  display: flex;
  flex-direction: row;
  padding: 15px;
  align-items: center;
  justify-content: space-around;
  background-color: #424242;
}

.cart-widget {
  justify-content: flex end;
}

nav a {
  padding: 15px;
  text-decoration: none;
  color:#e1f5fe;
}

nav a:hover {
  font-weight: 600;
}